<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <div class="card">
        <h1 class="card-header"><%= title %></h1>
        <div class="card-body">
          <h3 class="card-title">Welcome to this forum !</h3>
          <p class="card-text">Check out all posts here:</p>

          <%# show every post %>
          <% posts.forEach(function(post) { %>
            <hr>
            <p><%= post.message %></p>
            <p><small>Author: <%= post.author %></small></p>
            <p><small>Date: <%= post.date %></small></p>
            <a href="#" class="btn btn-primary">Edit this post</a>
          <% }); %>
          
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer') %>
