<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <div class="card">
        <h1 class="card-header"><%= title %></h1>
        <div class="card-body">
          <h3 class="card-title">Welcome to this forum !</h3>
          <p class="card-text">Check out the last 5 posts here:</p>

          <%# check if there are posts %>
          <% if(posts != null) { %>
            <%# show every post returned from the route %>
            <% posts.forEach(function(post) { %>
              <hr>
              <h3><%= post.title %></h3>
              <p><%= post.message %></p>
              <p><small>Author: <%= post.author %></small></p>
              <a href="/posts/show/<%=post._id%>" class="btn btn-primary">Details of this post</a>
            <% }); %>
          <% } else { %>
            <p>There are no posts yet.</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer') %>
